// Base
// -------------------
// Used for global styles
// Or to override certain Atom core styles
// -------------------

body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;

  &:last-child {
    border-right: none;
  }
}
.header,
.settings-view,
.list-tree{
  text-shadow: 0 0 10px #006eff, 0 0 20px #0047ff, 0 0 50px #0047ff;
  color:white;
}

.atom-dock-toggle-button-inner,
.author,
.github-ChangedFilesCount,
.github-StatusBarTile,
.project-find,
.setting-description,
.status-bar,
.github-Git-root,
.tab {
  color: rgb(241, 246, 255) !important;
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #0030ff, 0 0 5px #1400ff;
    }

    to {
      text-shadow: 0 0 10px #006eff, 0 0 50px #0047ff;
    }
  }
  color: #fff;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

.scrollbar-corner {
  opacity: 0;
}

.btn{
  cursor:pointer;
  transition: 0.3s;
}

.btn-primary{
  transition-timing-function: ease-out;
  background:rgb(101, 136, 255) !important;
}

.btn-primary:hover{
  background:rgb(148, 172, 255) !important;
  transition: 0.4s;
  transition-timing-function: ease-in;
  box-shadow: 0 0 0.7rem rgb(218, 226, 254);
}


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    transition: 0.4s;
    background: #717171;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    transition: 0.4s;
    border-radius: 20px;
    background:rgb(158, 180, 255);
}

::-webkit-scrollbar-thumb:hover {
    transition: 0.4s;
    background:rgb(218, 226, 254);
}

.atom-dock-content-wrapper.left{
  .tab.sortable.active{
    border-bottom:none;
    background-color: inherit;
    text-align: center;
  }
}

.close-icon{
  cursor:pointer !important;
}
