// Tree View
// -------------------
// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.tree-view {
  background-color: @tree-view-background-color;

  .list-item {
    &:hover {
      transition: 0.5s;
      transition-timing-function: ease-out;
      text-shadow: 0 0 0 #5900ff, 0 0 5px #00d9ff;
    }
  }

  .list-item.selected {
    color: @text-color-selected;
  }
}

.btn-group-replace-all .btn,
.current-path,
.cursor-position a,
.encoding-status a,
.find-container .input-block-item .btn-group .btn,
.find-container .input-block-item .syntax--text,
.grammar-status a,
.icon::before,
.input-block .input-block-item .syntax--text,
.line,
.line-ending-tile,
.msg-status,
.open-minimap-quick-settings,
.project-find .header .btn-group .btn,
.project-find .header .options,
.project-find .header .options-label,
.status-bar,
minimap-quick-settings {
  color: white !important;
}

.status-bar-right .idle::before {
  background: white;
}

.linter-status-count {
  .icon-alert,
  .icon-info,
  .icon-stop {
    color: white;
  }
}
